.btn {
  width: 104px;
  color: white;
  background-color: #8207db;
  border-radius: 4px;
  padding: 6px 16px;
  font-family: inherit;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  height: fit-content;
  &:disabled {
    background-color: #c696e8;
  }
}
