.textarea {
  width: 95%;
  resize: none;
  padding: 5px;
  border-radius: 4px;
  height: 5lh;
  box-sizing: content-box;
  outline-color: #8f00f6;
  border-color: #8207db;
}
@media (max-width: 550px) {
  .textarea {
    width: 180%;
  }
}
