.increment {
  color: #707b7c;
  font-weight: bold;
  cursor: grab;
  user-select: none;
  outline: none;
  border: none;
  background-color: transparent;
}
.increment:disabled {
  opacity: 0.1;
}
