*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  overflow-x: hidden;
}
:root {
  font-family: Arvo;

  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Arvo";
  src: url("/fonts/Arvo-Regular.ttf") format("truetype");
}

body {
  background-color: #ecf0f1;
  margin: 0;
  min-height: 100dvh;
  padding: min(5vw, 2rem);
  /* width: 100%; */
}
.main {
  inline-size: min(700px, 100%);
  min-height: 80dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.queryErrorMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .queryErrorMessage_icon {
    width: 30px;
    height: 30px;
  }
}
.my-custom-popup {
  inline-size: min(500px, 85%);
}

@media (max-width: 550px) {
  .swal-title {
    font-size: 18px;
  }
  .my-custom-popup {
    font-size: 14px;
  }
}
