.textarea {
  width: 95%;
  resize: none;
  padding: 5px;
  border-radius: 4px;
  height: 5lh;
  box-sizing: content-box;
  border: 1px solid lightgray;
  outline: none;
}

.textarea:focus {
  border-color: lightgray;
  box-shadow: 0 0 0 2px #e0e0e0;
}
